<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @ingredient.titre %>
</p>

<p>
  <strong>Recette:</strong>
  <%= @ingredient.recette %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
